/*
@Name:          Custom.css
@Author:        Team Dash
@Author URI:    http://TeamDash.com
@Purpose:       Defines custom style for Dashboard Application
@Since:         16/4/15
@Updated:       16/4/15
@


imported from cake.css


*/


html {display:none;}